footer {
  background-color: rgb(30, 30, 30);
}

footer p {
  margin: 0;
  padding: 12px;
  color: rgb(100, 100, 100);
}

footer .container {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: rgb(30, 30, 30);
}
@media (min-width: 800px){
    footer {
        background-color: rgb(30, 30, 30);
      }
    
      footer .container {
        border: rgb(30, 30, 30) solid 4px;
      }
}