<section id="conocimientos">
  <div class="container">
    <h2>Habilidades y Capacidades</h2>
    <div class="programas">
      <div class="carta">
        <h3>Programacion Front-end</h3>
        <div class="boton-html">
          <details>
            <summary>CONTENIDO</summary>
            <div>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Nesciunt vero corporis incidunt saepe qui commodi quasi neque
                veniam quam, aspernatur est beatae maxime animi sed reiciendis
                mollitia ducimus veritatis repellendus?
              </p>
            </div>
          </details>
        </div>
      </div>

      <div class="carta">
        <h3>Programacion  Back-End</h3>
        <div class="boton-html">
          <details>
            <summary>CONTENIDO</summary>
            <div>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Nesciunt vero corporis incidunt saepe qui commodi quasi neque
                veniam quam, aspernatur est beatae maxime animi sed reiciendis
                mollitia ducimus veritatis repellendus?
              </p>
            </div>
          </details>
        </div>
      </div>
      <div class="carta">
        <h3>Conocimientos complementarios</h3>
        <div class="boton-html">
          <details>
            <summary>CONTENIDO</summary>
            <div>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Nesciunt vero corporis incidunt saepe qui commodi quasi neque
                veniam quam, aspernatur est beatae maxime animi sed reiciendis
                mollitia ducimus veritatis repellendus?
              </p>
            </div>
          </details>
        </div>
      </div>
    </div>
  </div>
</section>
