<header>
  <details>
    <summary>   Navegador   </summary>
    <div class="container">
      <p class="logo">Exito!</p>
      <nav>
        <a href="#baner"><img src="../../../assets/rocket_3807.png" alt="ico"></a>
        <a href="#somos-proya">Formación</a>
        <a href="#conocimientos2">Proyectos</a>
        <a href="#caracteristicas">Experiencia</a>
        <a href="#skill">Skillset</a>
        <a href="#conocimientos">Habilidades</a>
        <a href="#final">Contacto</a>
      </nav>
    </div>
  </details>
</header>
