<header>
  <details>
    <summary>   Navegador   </summary>
    <div class="container">
      <p class="logo">Exito!</p>
      <nav>
        <!--
          <a href="#baner"><img src="../../../assets/rocket_3807.png" alt="ico"></a>
          <input class="btn btn-primary" type="button" value="Input">
        -->
        <a href="#somos-proya">Formación</a>
        <a href="#conocimientos2">Proyectos</a>
        <a href="#experiencia">Experiencia</a>
        <a href="#skill">Skillset</a>
        <a href="#conocimientos">Habilidades</a>
        <a href="#final">Contacto</a>
        <button class="btn btn-outline-light" type="button" (click)="login()">Login</button>
      </nav>
    </div>
  </details>
</header>
