<section>

  <div id="skill">
    <h1>
      <span>S</span>KILL<span>SET</span>
    </h1>
  </div> 

  <div class="porcentaje">
      <div class="container">
          
          <div class="card">
          <div class="box">
              
              <div class="porcent">
                  <svg>
                      <circle cx="70" cy="70" r="70"/>
                      <circle cx="70" cy="70" r="70"/>
                  </svg>
                  <div class="number">
                      <h2>80<span>%</span></h2>
                  </div>
                  <h3 class="text">Html</h3>
              </div>
          </div>
      </div>
      
      <div class="card">
          <div class="box">
              <div class="porcent">
                  <svg>
                      <circle cx="70" cy="70" r="70"/>
                      <circle cx="70" cy="70" r="70"/>
                  </svg>
                  <div class="number">
                      <h2>30<span>%</span></h2>
                  </div>
                  <h3 class="text">Css</h3>
              </div>
          </div>
      </div>
      
      <div class="card">
          <div class="box">
              <div class="porcent">
                  <svg>
                      <circle cx="70" cy="70" r="70"/>
                      <circle cx="70" cy="70" r="70"/>
                  </svg>
                  <div class="number">
                      <h2>30<span>%</span></h2>
                  </div>
                  <h3 class="text">Css</h3>
              </div>
          </div>
      </div>

      <div class="card">
          <div class="box">
              <div class="porcent">
                  <svg>
                      <circle cx="70" cy="70" r="70"/>
                      <circle cx="70" cy="70" r="70"/>
                  </svg>
                  <div class="number">
                      <h2>30<span>%</span></h2>
                  </div>
                  <h3 class="text">Css</h3>
              </div>
          </div>
      </div>
      
      <div class="card">
          <div class="box">
              <div class="porcent">
                  <svg>
                      <circle cx="70" cy="70" r="70"/>
                      <circle cx="70" cy="70" r="70"/>
                  </svg>
                  <div class="number">
                      <h2>30<span>%</span></h2>
                  </div>
                  <h3 class="text">Css</h3>
              </div>
          </div>
      </div>
      
      <div class="card">
          <div class="box">
              <div class="porcent">
                  <svg>
                      <circle cx="70" cy="70" r="70"/>
                      <circle cx="70" cy="70" r="70"/>
                  </svg>
                  <div class="number">
                      <h2>80<span>%</span></h2>
                  </div>
                  <h3 class="text">Html</h3>
              </div>
          </div>
      </div>
      
      <div class="card">
          <div class="box">
              <div class="porcent">
                  <svg>
                      <circle cx="70" cy="70" r="70"/>
                      <circle cx="70" cy="70" r="70"/>
                  </svg>
                  <div class="number">
                      <h2>30<span>%</span></h2>
                  </div>
                  <h3 class="text">Css</h3>
              </div>
          </div>
      </div>
      
      <div class="card">
          <div class="box">
              <div class="porcent">
                  <svg>
                      <circle cx="70" cy="70" r="70"/>
                      <circle cx="70" cy="70" r="70"/>
                  </svg>
                  <div class="number">
                      <h2>30<span>%</span></h2>
                  </div>
                  <h3 class="text">Css</h3>
              </div>
          </div>
      </div>
      
      <div class="card">
          <div class="box">
              <div class="porcent">
                  <svg>
                      <circle cx="70" cy="70" r="70"/>
                      <circle cx="70" cy="70" r="70"/>
                  </svg>
                  <div class="number">
                      <h2>30<span>%</span></h2>
                  </div>
                  <h3 class="text">Css</h3>
              </div>
          </div>
      </div>
      
      <div class="card">
          <div class="box">
              <div class="porcent">
                  <svg>
                      <circle cx="70" cy="70" r="70"/>
                      <circle cx="70" cy="70" r="70"/>
                  </svg>
                  <div class="number">
                      <h2>60<span>%</span></h2>
                  </div>
                  <h3 class="text">javascript</h3>
              </div>
          </div>
      </div>
  </div>
</div>
</section>
<!--
  <section id="skillset">
  <h2>Nivel por Skill</h2>
</section>
<section id="skillset-content">
  <div class="even">
    <div>
      <img src="../../../assets/html-5.png" />
      <span class="tooltip">HTML</span>
      <p>HTML</p>
    </div>
    <div>
      <img src="../../../assets/css-3.png" />
      <span class="tooltip">CSS</span>
      <p>CSS</p>
    </div>
    <div>
      <img src="../../../assets/js.png" />
      <span class="tooltip">Javascript</span>
      <p>Javascript</p>
    </div>
    <div>
      <img src="../../../assets/github.png" />
      <span class="tooltip">GIT</span>
      <p>GIT</p>
    </div>
    <div>
      <img src="../../../assets/angular_logo_icon_169595.png" />
      <span class="tooltip">Angular</span>
      <p>Angular</p>
    </div>
    <div>
      <img src="../../../assets/google_firebase_icon-icons.com_61475.png" />
      <span class="tooltip">FireBase</span>
      <p>FireBase</p>
    </div>
    <div>
      <img src="https://netbeans.apache.org/images/apache-netbeans.svg" />
      <span class="tooltip">neatbeanse</span>
      <p>neatbeanse</p>
    </div>
    <div>
      <img src="../../../assets/mysqlworkbench_103806.png" />
      <span class="tooltip">MySql</span>
      <p>MySql</p>
    </div>
    <div>
      <img
        src="https://cdn.freebiesupply.com/logos/large/2x/spring-3-logo-png-transparent.png"
      />
      <span class="tooltip">Spring</span>
      <p>Spring</p>
    </div>
    <div>
      <img src="../../../assets/java_original_logo_icon_146458.png" />
      <span class="tooltip">Java</span>
      <p>Java</p>
    </div>
  </div>
</section>
-->