<section id="skillset">
  <h2>Nivel por Skill</h2>
</section>
<section id="skillset-content">
  <div class="even">
    <div>
      <img src="../../../assets/html-5.png" />
      <span class="tooltip">HTML</span>
      <p>HTML</p>
    </div>
    <div>
      <img src="../../../assets/css-3.png" />
      <span class="tooltip">CSS</span>
      <p>CSS</p>
    </div>
    <div>
      <img src="../../../assets/js.png" />
      <span class="tooltip">Javascript</span>
      <p>Javascript</p>
    </div>
    <div>
      <img src="../../../assets/github.png" />
      <span class="tooltip">GIT</span>
      <p>GIT</p>
    </div>
    <div>
      <img src="../../../assets/angular_logo_icon_169595.png" />
      <span class="tooltip">Angular</span>
      <p>Angular</p>
    </div>
    <div>
      <img src="../../../assets/google_firebase_icon-icons.com_61475.png" />
      <span class="tooltip">FireBase</span>
      <p>FireBase</p>
    </div>
    <div>
      <img src="https://netbeans.apache.org/images/apache-netbeans.svg" />
      <span class="tooltip">neatbeanse</span>
      <p>neatbeanse</p>
    </div>
    <div>
      <img src="../../../assets/mysqlworkbench_103806.png" />
      <span class="tooltip">MySql</span>
      <p>MySql</p>
    </div>
    <div>
      <img
        src="https://cdn.freebiesupply.com/logos/large/2x/spring-3-logo-png-transparent.png"
      />
      <span class="tooltip">Spring</span>
      <p>Spring</p>
    </div>
    <div>
      <img src="../../../assets/java_original_logo_icon_146458.png" />
      <span class="tooltip">Java</span>
      <p>Java</p>
    </div>
  </div>
</section>
