

<!--empieza codigo a borrar-->

<!--termina codigo a borrar-->

<!--empieza codigo a borrar-->

<!--termina codigo a borrar-->

<!--empieza codigo a borrar-->

<!--termina codigo a borrar-->
<section id="skillset">
  <h2>Nivel por Skill</h2>
</section>
<section id="skillset-content">
  <div class="even">
    <div>
      <img src="media/html-5.png" />
      <span class="tooltip">HTML</span>
      <p>HTML</p>
    </div>
    <div>
      <img src="media/css-3.png" />
      <span class="tooltip">CSS</span>
      <p>CSS</p>
    </div>
    <div>
      <img src="media/js.png" />
      <span class="tooltip">Javascript</span>
      <p>Javascript</p>
    </div>
    <div>
      <img src="media/github.png" />
      <span class="tooltip">GIT</span>
      <p>GIT</p>
    </div>
    <div>
      <img src="media/angular_logo_icon_169595.png" />
      <span class="tooltip">Angular</span>
      <p>Angular</p>
    </div>
    <div>
      <img src="media/google_firebase_icon-icons.com_61475.png" />
      <span class="tooltip">FireBase</span>
      <p>FireBase</p>
    </div>
    <div>
      <img src="https://netbeans.apache.org/images/apache-netbeans.svg" />
      <span class="tooltip">neatbeanse</span>
      <p>neatbeanse</p>
    </div>
    <div>
      <img src="media/mysqlworkbench_103806.png" />
      <span class="tooltip">MySql</span>
      <p>MySql</p>
    </div>
    <div>
      <img
        src="https://cdn.freebiesupply.com/logos/large/2x/spring-3-logo-png-transparent.png"
      />
      <span class="tooltip">Spring</span>
      <p>Spring</p>
    </div>
    <div>
      <img src="media/java_original_logo_icon_146458.png" />
      <span class="tooltip">Java</span>
      <p>Java</p>
    </div>
  </div>
</section>

<section id="final">
  <h2>Listo para programar, deje su contacto</h2>
  <iframe
    id="formulario"
    src="https://docs.google.com/forms/d/e/1FAIpQLSeTF0pGuiw1ibUlQoW4AENLJ3pX1EKqp-8JwJTe-nvFVgco9w/viewform?embedded=true"
    width="370"
    height="720"
    frameborder="0"
    marginheight="0"
    marginwidth="0"
    >Cargando…</iframe
  >
  <h3>Tambien puedes contactarme</h3>
  <div id="boton">
    <a
      href="https://www.linkedin.com/in/ernesto-aquino-a5a415210"
      class="fa-brands fa-linkedin"
    ></a>
    <a
      href="https://instagram.com/ernest_developer_web"
      class="fa-brands fa-square-instagram"
    ></a>
    <a
      href="mailto:ernestorafaelaquino@outlook.es?subject=ContratracionPorfolio"
      class="fa-solid fa-square-envelope"
    ></a>
  </div>
</section>

<footer>
  <div class="container">
    <p>&copy; RealizadoConAmor</p>
  </div>
</footer>
<script
  src="https://kit.fontawesome.com/5e138694b1.js"
  crossorigin="anonymous"
></script>
