<aside id="baner">
  <div class="barra">
    <img id="APlogo" src="../../../assets/APLogo.png" alt="logo" />
  </div>
  <img
    class="circle"
    src="../../../assets/Perfil_photo_2022-08-03_19-26-12.jpg"
    alt="logo large"
  />

  <h1>Aquino Ernesto</h1>
  <hr />
  <div>
    <h2>Desarrollador Full Stack Web Junior</h2>
  </div>
  <div><h5 style="color: rgba(150, 87, 15, 0.514)">Acerca de mi</h5></div>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum consectetur
    velit esse culpa aut iusto? Quod, distinctio quia ad ea mollitia dicta,
    provident architecto a voluptatibus reiciendis autem culpa placeat.
  </p>
  <video autoplay>
    <source
      src="../../../assets/Tu nombre - Portafolio.mp4"
      alt="https://www.xaviro.com/assets/c97fb08d9006a59b6013.mp4"
    />
  </video>
</aside>
